@media screen and (min-width: 980px){

.order-wrap .title h2{font-size: 25px;font-weight: 600;color: #404040;margin-bottom: 20px;}

/* common font size */


@keyframes fade-in{
0%{opacity: 0;}
100%{opacity: 1;}
}
@keyframes fade-in-left{
0%{opacity: 0; transform: translateX(-50px);}
100%{opacity: 1; transform: translateX(0px);}
}
@keyframes fade-in-top{
0%{opacity: 0; transform: translateY(-50px);}
100%{opacity: 1; transform: translateY(0px);}
}
/* keyframes */

.animate{
animation: fade-in 1s forwards ease-in;
transition: 2s ease-in-out;
}
.animate_left{
animation: fade-in-left .3s forwards ease-in;
transition: 1s ease-in-out;
}
.animate_top{
animation: fade-in-top .5s forwards ease-in;
transition: .5s ease-in;
}

/* animate */


.slider>div>div.img{background-size: cover;height: 100vh;background-position: center;}
.slider-01 > div.img-01{background: url("../images/slider_img01.png");}
.slider-02 > div.img-02{background: url("../images/slider_img02.png");}
.slider-03 > div.img-03{background: url("../images/slider_img03.png");}
.bx-wrapper{box-shadow: none;border: none;margin-bottom: 100px;}
.bx-wrapper .bx-pager{bottom: 30px;}

/* slider Fin */

#portfolio{text-align: center; padding-bottom: 100px;}
.portfolio > h3 {font-size: 20px;color: #707070;margin-bottom: 100px; opacity: 0;}
.portfolio > h3 > span{font-size: 30px;color: black;font-weight: 600;}

.portfolio-wrap{display: flex;max-width: 1300px;flex-wrap: wrap;margin: 0 auto;justify-content: center;padding-bottom: 50px;}
.portfolio-wrap>li{margin: 20px;width: 280px;box-sizing: border-box;position: relative; opacity: 0;}
.portfolio-wrap>li:hover div.imglist>img{transform: scale(1.2);transition: .5s;}
.portfolio-wrap>li>div.imglist{position: relative;overflow: hidden;}
.portfolio-wrap>li:hover .opBox{opacity: 1;} 

.portfolio-wrap li div.opBox{position: absolute;background-color:rgba(0, 0, 0, .5);width: 280px;height: 280px;margin: auto;transition: .5s;top: 0;opacity: 0;}
.portfolio-wrap li div.opBox>dl{position: absolute;top: 120px;left: 100px;color: white;}
.portfolio-wrap li div.opBox>dl dt{font-size: 20px;font-weight: 600;margin-bottom: 10px;} 

.portfolio > div:last-child{margin: 0 auto;}

/* portfolio list Fin */

#order{text-align: center;padding-bottom: 100px;}
.order-wrap{background-color: #eeeeee; padding: 50px 0;}
.order-wrap .title p{font-size: 15px;color: #707070;}
.title{padding-bottom: 50px;}

.order-ctn{display: flex;justify-content: center;padding-bottom: 50px;}
.order-ctn ul{display: flex;}
.order-ctn ul li{margin: auto 30px; opacity: 0;}
.order-ctn ul li:nth-child(2n-1) span.material-icons{font-size: 60px;margin-bottom: 20px;}
.order-ctn ul li:nth-child(2n-1) p{font-weight: 600;font-size: 20px;}
.order-ctn ul li:nth-child(2n) span.material-icons{font-size: 40px;}

.order-ctn ul li:nth-child(1){animation-delay: .1s;}
.order-ctn ul li:nth-child(2){animation-delay: .3s;}
.order-ctn ul li:nth-child(3){animation-delay: .5s;}
.order-ctn ul li:nth-child(4){animation-delay: .7s;}
.order-ctn ul li:nth-child(5){animation-delay: .9s;}
.order-ctn ul li:nth-child(6){animation-delay: 1.1s;}
.order-ctn ul li:nth-child(7){animation-delay: 1.3s;} 

.order-wrap > div:last-child{margin: 0 auto;}

/* order Fin */

#year{max-width: 1300px; margin:0 auto;display: flex;justify-content: center;padding-bottom: 100px; }
#year ul{width: 100%; display: flex;justify-content: center;flex-wrap: wrap;}
#year ul li{position: relative;margin: 25px; opacity: 0;}

/* #year ul li:first-child{animation-delay: ;} */
#year ul li:last-child{animation-delay: .5s;}

.imgbg{width: 600px;height: 300px;border-radius: 10px;overflow: hidden;}
.yearBox{background-color: rgba(0, 0, 0, .5);width: 100%;height: 100%;position: absolute;top: 0;text-align: center;border-radius: 10px;display: flex;
flex-direction: column;justify-content: center;}
.yearBox dl{padding: 0 90px 30px;color: white;}
.yearBox dl dt{font-size: 25px;font-weight: 600;margin-bottom: 25px;}
.yearBox dl dd{font-size: 15px;line-height: 25px;}
.yearBox div{margin: 0 auto;}
.yearBoxwrap{margin: auto 0;}

/* year Fin */

#number{height: 300px;  background: url('../images/number_img.png')no-repeat center; background-attachment: fixed; background-size: cover; background-position: center}
.numberbg{height: 100%;  background-color: rgba(0, 0, 0, .5);}
.number_ctn{height: 100%; max-width: 1300px; margin: 0 auto; text-align: center; display: flex;justify-content: center;}
.number_ctn dl{margin: auto; color: white; display: flex; flex-direction: column;}
.number_ctn dl dt{font-size: 50px; font-weight: 600;}
.number_ctn dl dd{line-height: 40px;}

/* number Fin */

#withcompany{padding: 100px 0; max-width: 1300px;  margin :0 auto;}
#withcompany ul{display: flex; width: 100%; flex-wrap: wrap; justify-content: center;}
#withcompany ul li{margin: 10px; width: 300px; height: 100px; border: 1px solid #eeeeee;opacity: 0;}

/* withcompany Fin */

#email{background: url('../images/number_img.png')no-repeat center center; }
.emailwrap{ background-color: rgba(0, 0, 0, .5);}
.email_ctn{color: white; max-width: 900px; margin: 0 auto; padding: 100px 30px; text-align: center;}
.email_ctn .title h2{font-size: 25px; font-weight: 600;margin-bottom: 20px;}
.email_ctn .title p{font-size: 15px; line-height: 25px;}

.email_ctn form .formwrap{display: flex; flex-wrap: wrap; justify-content: space-between; position: relative; margin-bottom: 30px;}
.email_ctn form .formwrap div{font-size: 20px; margin-bottom: 20px; width: 420px; display: flex; justify-content: space-between;}
.email_ctn form .formwrap div label{/*margin: 0 20px;*/ text-align: right;}
.email_ctn form .formwrap div:not(:last-child) input{height: 30px; width: 292px; padding: 0 8px;}
.email_ctn form .formwrap div select{height: 36px; width:312px; padding: 0 7px;}
.email_ctn form .formwrap div textarea{padding: 10px; width: 770px;}

/* .email_ctn form .formwrap div:nth-child(5) label{margin-left: 48px;} */
.email_ctn form .formwrap div:nth-child(7){width: 100%; display: flex; flex-wrap: wrap;}
.email_ctn form .formwrap div:nth-child(7) label{margin-bottom: 20px;}
.email_ctn form .formwrap div:nth-child(8){width: 360px;}

.email_ctn form div:last-child input[type='submit']{padding:10px 25px;  padding: 10px 25px; border-radius: 5px; background-color: white; border: none; font-weight: 600; color: #404040;}
}
/* pc */


@media screen and (min-width: 661px) and (max-width: 979px){

.order-wrap .title h2{font-size: 25px;font-weight: 600;color: #404040;margin-bottom: 20px;}

/* common font size */


@keyframes fade-in{
0%{opacity: 0;}
100%{opacity: 1;}
}
@keyframes fade-in-left{
0%{opacity: 0; transform: translateX(-50px);}
100%{opacity: 1; transform: translateX(0px);}
}
@keyframes fade-in-top{
0%{opacity: 0; transform: translateY(-50px);}
100%{opacity: 1; transform: translateY(0px);}
}
/* keyframes */

.animate{
animation: fade-in 1s forwards ease-in;
transition: 2s ease-in-out;
}
.animate_left{
animation: fade-in-left .3s forwards ease-in;
transition: 1s ease-in-out;
}
.animate_top{
animation: fade-in-top .5s forwards ease-in;
transition: .5s ease-in;
}

/* animate */


.slider>div>div.img{background-size: cover;height: 100vh;background-position: center;}
.slider-01 > div.img-01{background: url("../images/slider_img01.png");}
.slider-02 > div.img-02{background: url("../images/slider_img02.png");}
.slider-03 > div.img-03{background: url("../images/slider_img03.png");}
.bx-wrapper{box-shadow: none;border: none;margin-bottom: 100px;}
.bx-wrapper .bx-pager{bottom: 30px;}

/* slider Fin */

#portfolio{text-align: center; padding-bottom: 100px;}
.portfolio > h3 {font-size: 20px;color: #707070;margin-bottom: 100px; opacity: 0;}
.portfolio > h3 > span{font-size: 30px;color: black;font-weight: 600; display: block; line-height: 50px;}

.portfolio-wrap{display: flex;max-width: 1300px;flex-wrap: wrap;margin: 0 auto;justify-content: center;padding-bottom: 50px;}
.portfolio-wrap>li{margin: 20px;width: 280px;box-sizing: border-box;position: relative; opacity: 0;}
.portfolio-wrap>li:hover div.imglist>img{transform: scale(1.2);transition: .5s;}
.portfolio-wrap>li>div.imglist{position: relative;overflow: hidden;}
.portfolio-wrap>li:hover .opBox{opacity: 1;} 

.portfolio-wrap li div.opBox{position: absolute;background-color:rgba(0, 0, 0, .5);width: 280px;height: 280px;margin: auto;transition: .5s;top: 0;opacity: 0;}
.portfolio-wrap li div.opBox>dl{position: absolute;top: 120px;left: 100px;color: white;}
.portfolio-wrap li div.opBox>dl dt{font-size: 20px;font-weight: 600;margin-bottom: 10px;} 

.portfolio > div:last-child{margin: 0 auto;}

/* portfolio list Fin */

#order{text-align: center;padding-bottom: 100px;}
.order-wrap{background-color: #eeeeee; padding: 50px 0;}
.order-wrap .title p{font-size: 15px;color: #707070;}
.title{padding-bottom: 50px;}

.order-ctn{display: flex;justify-content: center;padding-bottom: 50px;}
.order-ctn ul{display: flex;}
.order-ctn ul li{margin: auto 1vw; opacity: 0;}
.order-ctn ul li:nth-child(2n-1) span.material-icons{font-size: 60px;margin-bottom: 20px;}
.order-ctn ul li:nth-child(2n-1) p{font-weight: 600;font-size: 20px;}
.order-ctn ul li:nth-child(2n) span.material-icons{font-size: 40px;}

.order-ctn ul li:nth-child(1){animation-delay: .1s;}
.order-ctn ul li:nth-child(2){animation-delay: .3s;}
.order-ctn ul li:nth-child(3){animation-delay: .5s;}
.order-ctn ul li:nth-child(4){animation-delay: .7s;}
.order-ctn ul li:nth-child(5){animation-delay: .9s;}
.order-ctn ul li:nth-child(6){animation-delay: 1.1s;}
.order-ctn ul li:nth-child(7){animation-delay: 1.3s;} 

.order-wrap > div:last-child{margin: 0 auto;}

/* order Fin */

#year{max-width: 1300px; margin:0 auto;display: flex;justify-content: center;padding-bottom: 100px; }
#year ul{width: 100%; display: flex;justify-content: center;flex-wrap: wrap;}
#year ul li{position: relative;margin: 25px; opacity: 0;}

/* #year ul li:first-child{animation-delay: ;} */
#year ul li:last-child{animation-delay: .5s;}

.imgbg{width: 600px;height: 300px;border-radius: 10px;overflow: hidden;}
.yearBox{background-color: rgba(0, 0, 0, .5);width: 100%;height: 100%;position: absolute;top: 0;text-align: center;border-radius: 10px;display: flex;
flex-direction: column;justify-content: center;}
.yearBox dl{padding: 0 90px 30px;color: white;}
.yearBox dl dt{font-size: 25px;font-weight: 600;margin-bottom: 25px;}
.yearBox dl dd{font-size: 15px;line-height: 25px;}
.yearBox div{margin: 0 auto;}
.yearBoxwrap{margin: auto 0;}

/* year Fin */

#number{height: 300px;  background: url('../images/number_img.png')no-repeat center; background-attachment: fixed; background-size: cover; background-position: center}
.numberbg{height: 100%;  background-color: rgba(0, 0, 0, .5);}
.number_ctn{height: 100%; max-width: 1300px; margin: 0 auto; text-align: center; display: flex;justify-content: center;}
.number_ctn dl{margin: auto; color: white; display: flex; flex-direction: column;}
.number_ctn dl dt{font-size: 50px; font-weight: 600;}
.number_ctn dl dd{line-height: 40px;}

/* number Fin */

#withcompany{padding: 100px 0; max-width: 1300px;  margin :0 auto;}
#withcompany ul{display: flex; width: 100%; flex-wrap: wrap; justify-content: center;}
#withcompany ul li{margin: 10px; width: 300px; height: 100px; border: 1px solid #eeeeee;opacity: 0;}

/* withcompany Fin */

#email{background: url('../images/number_img.png')no-repeat center center;}
.emailwrap{ background-color: rgba(0, 0, 0, .5);}
.email_ctn{color: white; max-width: 900px; margin: 0 auto; padding: 100px 30px; text-align: center;}
.email_ctn .title h2{font-size: 25px; font-weight: 600;margin-bottom: 20px;}
.email_ctn .title p{font-size: 15px; line-height: 25px;}

.email_ctn form .formwrap{display: flex; flex-wrap: wrap; justify-content: space-between; position: relative; margin-bottom: 30px;}
.email_ctn form .formwrap div{font-size: 20px; margin-bottom: 20px; width: 100%; display: flex; justify-content: space-between;}
.email_ctn form .formwrap div label{/*margin: 0 20px;*/ text-align: left; width: 100px;}
.email_ctn form .formwrap div:not(:last-child) input{height: 30px; width: 85%; padding: 0 8px;}
.email_ctn form .formwrap div select{height: 36px; width:87.4%; padding: 0 7px;}
.email_ctn form .formwrap div textarea{padding: 10px; width: 100%}

/* .email_ctn form .formwrap div:nth-child(5) label{margin-left: 48px;} */
.email_ctn form .formwrap div:nth-child(7){width: 100%; display: flex; flex-wrap: wrap;}
.email_ctn form .formwrap div:nth-child(7) label{margin-bottom: 20px;}
.email_ctn form .formwrap div:nth-child(8){width: 360px;}

.email_ctn form div:last-child input[type='submit']{padding: 10px 25px; border-radius: 5px; background-color: white; border: none; font-weight: 600; color: #404040;}
}

/* 태블릿-01 */

@media screen and (min-width: 1px) and (max-width: 660px){

.order-wrap .title h2{font-weight: 600;color: #404040;margin-bottom: 20px;}

.order-wrap .title h2,
.yearBox dl dt,
.email_ctn .title h2
{font-size: 18px;}

.portfolio > h3,
.portfolio-wrap li div.opBox>dl dt,
.email_ctn form .formwrap div
{font-size: 15px;}

.order-wrap .title p,
.yearBox dl dd,
.email_ctn .title p
{font-size: 12px;}
/* common font size */


@keyframes fade-in{
0%{opacity: 0;}
100%{opacity: 1;}
}
@keyframes fade-in-left{
0%{opacity: 0; transform: translateX(-50px);}
100%{opacity: 1; transform: translateX(0px);}
}
@keyframes fade-in-top{
0%{opacity: 0; transform: translateY(-50px);}
100%{opacity: 1; transform: translateY(0px);}
}
/* keyframes */

.animate{
animation: fade-in 1s forwards ease-in;
transition: 2s ease-in-out;
}
.animate_left{
animation: fade-in-left .3s forwards ease-in;
transition: 1s ease-in-out;
}
.animate_top{
animation: fade-in-top .5s forwards ease-in;
transition: .5s ease-in;
}

/* animate */


.slider>div>div.img{background-size: cover;height: 100vh;background-position: center;}
.slider-01 > div.img-01{background: url("../images/slider_img01.png");}
.slider-02 > div.img-02{background: url("../images/slider_img02.png");}
.slider-03 > div.img-03{background: url("../images/slider_img03.png");}
.bx-wrapper{box-shadow: none;border: none;margin-bottom: 50px;}
.bx-wrapper .bx-pager{bottom: 30px;}

/* slider Fin */

#portfolio{text-align: center; padding-bottom: 100px;}
.portfolio > h3 {color: #707070;margin-bottom: 50px; opacity: 0;}
.portfolio > h3 > span{font-size: 4.5vw;color: black;font-weight: 600; display: block; line-height: 10vw;}

.portfolio-wrap{display: flex;max-width: 1300px;flex-wrap: wrap;margin: 0 auto;justify-content: center;padding-bottom: 50px;}
.portfolio-wrap>li{margin: 10px;box-sizing: border-box;position: relative; opacity: 0;}
/* .portfolio-wrap>li:hover div.imglist>img{transform: scale(1.2);transition: .5s;} */
.portfolio-wrap>li>div.imglist{position: relative; width: 40vw;}
.portfolio-wrap>li:hover .opBox{opacity: 1;} 

.portfolio-wrap li div.opBox{position: absolute;width: 100%;height: 100%;margin: auto;transition: .5s;top: 0;}
.portfolio-wrap li div.opBox>dl{position: absolute;bottom: 10px;left: 10px;color: white;  text-align: left;}
.portfolio-wrap li div.opBox>dl dt{font-weight: 600;margin-bottom: 5px;} 
.portfolio-wrap li div.opBox>dl dd{font-size: 10px;}
.portfolio > div:last-child{margin: 0 auto;}

.portfolio-wrap li:nth-child(7),
.portfolio-wrap li:nth-child(8),
.portfolio-wrap li:nth-child(9),
.portfolio-wrap li:nth-child(10),
.portfolio-wrap li:nth-child(11),
.portfolio-wrap li:nth-child(12){display: none;}

.imglist img{width: 100%;}

/* portfolio list Fin */

#order{text-align: center;padding-bottom: 100px;}
.order-wrap{background-color: #eeeeee; padding: 50px 0;}
.order-wrap .title p{color: #707070;}
.title{padding-bottom: 50px;}

.order-ctn{display: flex;justify-content: center;padding-bottom: 50px;}
.order-ctn ul{display: flex;}
.order-ctn ul li{margin: auto 1vw; opacity: 0;}
.order-ctn ul li:nth-child(2n-1) span.material-icons{font-size: 40px;margin-bottom: 10px;}
.order-ctn ul li:nth-child(2n-1) p{font-weight: 600;font-size: 3vw;}
.order-ctn ul li:nth-child(2n) span.material-icons{font-size: 20px;}

.order-ctn ul li:nth-child(1){animation-delay: .1s;}
.order-ctn ul li:nth-child(2){animation-delay: .3s;}
.order-ctn ul li:nth-child(3){animation-delay: .5s;}
.order-ctn ul li:nth-child(4){animation-delay: .7s;}
.order-ctn ul li:nth-child(5){animation-delay: .9s;}
.order-ctn ul li:nth-child(6){animation-delay: 1.1s;}
.order-ctn ul li:nth-child(7){animation-delay: 1.3s;} 

.order-wrap > div:last-child{margin: 0 auto;}

/* order Fin */

#year{max-width: 1300px; margin:0 auto;display: flex;justify-content: center;padding-bottom: 90px; }
#year ul{width: 100%; display: flex;justify-content: center;flex-wrap: wrap;}
#year ul li{position: relative; opacity: 0; width: 100%; margin-bottom: 20px;}


#year ul li:last-child{animation-delay: .5s;}

.imgbg{width: 100%;overflow: hidden;}
.imgbg img{width: 100%;}
.yearBox{background-color: rgba(0, 0, 0, .5);width: 100%;height: 100%;position: absolute;top: 0;text-align: center;display: flex;
flex-direction: column;justify-content: center;}
.yearBox dl{padding: 0 10px;color: white; margin-bottom: 4vw;}
.yearBox dl dt{font-weight: 600;margin-bottom: 4vw;}
.yearBox dl dd{line-height: 25px;}
.yearBox div{margin: 0 auto;}
.yearBoxwrap{margin: auto 0;}

/* year Fin */

#number{height: 200px;  background: url('../images/number_img.png')no-repeat center; background-attachment: fixed; background-size: cover; background-position: center}
.numberbg{height: 100%;  background-color: rgba(0, 0, 0, .5);}
.number_ctn{height: 100%; max-width: 1300px; margin: 0 auto; text-align: center; display: flex;justify-content: center; }
.number_ctn dl{margin: auto; color: white; display: flex; flex-direction: column;}
.number_ctn dl dt{font-size: 25px; font-weight: 600;}
.number_ctn dl dd{line-height: 40px;}

/* number Fin */

#withcompany{padding: 100px 0; max-width: 1300px;  margin :0 auto;}
#withcompany ul{display: flex; width: 100%; flex-wrap: wrap; justify-content: center;}
#withcompany ul li{opacity: 0;}
#withcompany ul li img{width: 45vw; margin: 1vw;}
/* withcompany Fin */

#email{background: url('../images/number_img.png')no-repeat center center; }
.emailwrap{ background-color: rgba(0, 0, 0, .5);}
.email_ctn{color: white; max-width: 900px; margin: 0 auto; padding: 100px 30px; text-align: center;}
.email_ctn .title h2{ font-weight: 600;margin-bottom: 20px;}
.email_ctn .title p{line-height: 25px;}

.email_ctn form .formwrap{display: flex; flex-wrap: wrap; justify-content: space-between; position: relative; margin-bottom: 30px;}
.email_ctn form .formwrap div{ margin-bottom: 20px; width: 100%; display: flex; justify-content: space-between; flex-wrap: wrap;}
.email_ctn form .formwrap div label{margin-bottom: 10px;  text-align: left; }
.email_ctn form .formwrap div:not(:last-child) input{height: 30px; width: 100%; padding: 0 8px;}
.email_ctn form .formwrap div select{height: 36px; width:100%; padding: 0 7px;}
.email_ctn form .formwrap div textarea{padding: 10px; width: 100%}

/* .email_ctn form .formwrap div:nth-child(5) label{margin-left: 48px;} */
.email_ctn form .formwrap div:nth-child(7){width: 100%; display: flex; flex-wrap: wrap;}
.email_ctn form .formwrap div:nth-child(7) label{margin-bottom: 20px;}
.email_ctn form .formwrap div:nth-child(8){width: 320px;}

.email_ctn form div:last-child input[type='submit']{padding: 10px 25px; border-radius: 5px; background-color: white; border: none; font-weight: 600; color: #404040;}
}
