@media screen and (min-width: 766px) {
  body {
    background-color: #f5f6f7;
  }
  body > * {
    font-family: 'Nanum Gothic', sans-serif;
  }
  body #wrap {
    width: 100%;
  }
  body #wrap header {
    margin: 0 auto;
    max-width: 768px;
    padding: 106px 0 65px 0;
    position: relative;
  }
  body #wrap header div {
    position: absolute;
    top: 20px;
    right: 0;
  }
  body #wrap header div select {
    cursor: pointer;
    width: 95px;
    height: 30px;
    border: 1px solid #cccccc;
    font-size: 12px;
    background-color: #f5f6f7;
    padding: 0 0 0 5px;
    
    -webkit-appearance: none;
    -moz-appearance: none; 
    appearance: none;
  }
  body #wrap header div select option {
    background-color: #fff;
  }
  body #wrap header h1 {
    width: 230px;
    height: 45px;
    margin: 0 auto;
  }
  body #wrap header h1 img {
    width: 100%;
  }
  body #wrap main {
    margin: 0 auto;
    max-width: 768px;
  }
  body #wrap main form {
    text-align: center;
    padding-bottom: 5px;
  }
  body #wrap main form div input {
    width: 460px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border: 1px solid #dadada;
  }
  body #wrap main form div:first-child {
    margin-bottom: 10px;
  }
  body #wrap main form div:first-child span {
    color: red;
    font-size: 13px;
    display: none;
    text-align: left;
    margin-left: 160px;
    padding-top: 8px;
  }
  body #wrap main form div:not(:last-child) input {
    height: 48px;
    padding: 5px 10px;
    font-size: 14px;
  }
  body #wrap main form div:not(:last-child) input::-webkit-input-placeholder {
    color: #8e8e8e;
  }
  body #wrap main form div:not(:last-child) input:-ms-input-placeholder {
    color: #8e8e8e;
  }
  body #wrap main form div:not(:last-child) input::-ms-input-placeholder {
    color: #8e8e8e;
  }
  body #wrap main form div:not(:last-child) input::placeholder {
    color: #8e8e8e;
  }
  body #wrap main form div:last-child input {
    height: 56px;
    background-color: #03c75a;
    border: 1px solid #03b351;
    color: #fff;
    margin: 14px 0 0 0;
  }
  body #wrap main .check-btn {
    width: 460px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-bottom: 20px;
    border-bottom: 1px solid #e4e4e5;
  }
  body #wrap main .check-btn .check {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 14px;
  }
  body #wrap main .check-btn .check input[type="checkbox"] {
    position: absolute;
    left: -3000%;
  }
  body #wrap main .check-btn .check input[type="checkbox"] + label {
    cursor: pointer;
    background: url("images/ico_ckeck_off.png") no-repeat 1px center;
  }
  body #wrap main .check-btn .check input[type="checkbox"]:checked + label {
    background: url("images/ico_ckeck_on.png") no-repeat 1px center;
  }
  body #wrap main .check-btn .check label {
    padding-left: 35px;
    line-height: 45px;
  }
  body #wrap main .check-btn .off-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 14px;
  }
  body #wrap main .check-btn .off-btn input[type="checkbox"] {
    position: absolute;
    left: -3000%;
  }
  body #wrap main .check-btn .off-btn input[type="checkbox"] + label {
    cursor: pointer;
    background: url("images/text_on.png") no-repeat 50px center;
  }
  body #wrap main .check-btn .off-btn input[type="checkbox"]:checked + label {
    background: url("images/text_off.png") no-repeat 50px center;
  }
  body #wrap main .check-btn .off-btn label {
    padding-right: 40px;
  }
  body #wrap main .Simple-Login {
    width: 460px;
    margin: 30px auto;
    text-align: center;
  }
  body #wrap main .Simple-Login h2 {
    font-size: 22px;
    margin-bottom: 20px;
  }
  body #wrap main .Simple-Login div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  body #wrap main .Simple-Login div:nth-child(2) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  body #wrap main .Simple-Login div:nth-child(2) div {
    width: 220px;
    height: 55px;
    background-color: #fff;
    border: 1px solid #03c75a;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    cursor: pointer;
  }
  body #wrap main .Simple-Login div:nth-child(2) div img {
    width: 22px;
    height: 22px;
  }
  body #wrap main .Simple-Login div:nth-child(2) div p {
    margin-left: 10px;
    font-size: 15px;
    font-weight: bold;
  }
  body #wrap main .Simple-Login div.find {
    line-height: 50px;
    font-size: 14px;
    color: #8e8e8e;
  }
  body #wrap main .Simple-Login div.find a {
    margin-right: 20px;
    position: relative;
    color: #8e8e8e;
  }
  body #wrap main .Simple-Login div.find a:not(:last-child)::before {
    content: '';
    width: 1px;
    height: 10px;
    position: absolute;
    background-color: #e4e4e5;
    top: 20px;
    right: -10px;
  }
  body #wrap main .banner {
    width: 460px;
    margin: 0 auto;
  }
  body #wrap main .banner img {
    width: 100%;
    margin-bottom: 100px;
  }
  body #wrap footer {
    margin: 0 auto;
    max-width: 768px;
  }
  body #wrap footer ul {
    width: 460px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    line-height: 40px;
  }
  body #wrap footer ul li {
    position: relative;
  }
  body #wrap footer ul li a {
    cursor: pointer;
    font-size: 12px;
  }
  body #wrap footer ul li:not(:last-child) {
    margin-right: 15px;
  }
  body #wrap footer ul li::before {
    content: '';
    width: 1px;
    height: 10px;
    position: absolute;
    background-color: #b7b7b7;
    top: 15px;
    right: -8px;
  }
  body #wrap footer ul li:nth-child(2) a {
    font-weight: 800;
  }
  body #wrap footer div {
    width: 460px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 15px;
  }
  body #wrap footer div img {
    width: 60px;
    height: 100%;
    margin-right: 5px;
  }
  body #wrap footer div p {
    font-size: 10px;
  }
  body #wrap footer div p strong {
    font-weight: 800;
  }
}

@media screen and (max-width: 765px) {
  body {
    background-color: #f5f6f7;
  }
  body > * {
    font-family: 'Nanum Gothic', sans-serif;
    all: unset;
  }
  body #wrap {
    width: 100%;
  }
  body #wrap header {
    margin: 0 auto;
    max-width: 768px;
    padding: 50px 0 35px 0;
    position: relative;
  }
  body #wrap header div {
    position: absolute;
    top: 10px;
    right: 10px;
  }
  body #wrap header div select {
    cursor: pointer;
    width: 85px;
    height: 25px;
    border: 1px solid #cccccc;
    font-size: 12px;
    background-color: #f5f6f7;
    padding: 0 0 0 5px;
  }
  body #wrap header div select option {
    background-color: #fff;
  }
  body #wrap header h1 {
    width: 130px;
    height: 25px;
    margin: 0 auto;
  }
  body #wrap header h1 img {
    width: 100%;
  }
  body #wrap main {
    margin: 0 auto;
    max-width: 768px;
  }
  body #wrap main form {
    text-align: center;
    padding-bottom: 5px;
  }
  body #wrap main form div input {
    width: 95%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border: 1px solid #dadada;
  }
  body #wrap main form div:first-child {
    margin-bottom: 7px;
  }
  body #wrap main form div:not(:last-child) input {
    height: 42px;
    padding: 5px 10px;
    font-size: 14px;
  }
  body #wrap main form div:not(:last-child) input::-webkit-input-placeholder {
    color: #8e8e8e;
  }
  body #wrap main form div:not(:last-child) input:-ms-input-placeholder {
    color: #8e8e8e;
  }
  body #wrap main form div:not(:last-child) input::-ms-input-placeholder {
    color: #8e8e8e;
  }
  body #wrap main form div:not(:last-child) input::placeholder {
    color: #8e8e8e;
  }
  body #wrap main form div:last-child input {
    height: 56px;
    background-color: #03c75a;
    border: 1px solid #03b351;
    color: #fff;
    margin: 14px 0 0 0;
  }
  body #wrap main .check-btn {
    width: 95%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-bottom: 20px;
    border-bottom: 1px solid #e4e4e5;
  }
  body #wrap main .check-btn .check {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 14px;
  }
  body #wrap main .check-btn .check input[type="checkbox"] {
    position: absolute;
    left: -3000%;
  }
  body #wrap main .check-btn .check input[type="checkbox"] + label {
    cursor: pointer;
    background: url("images/ico_ckeck_off.png") no-repeat 1px center;
  }
  body #wrap main .check-btn .check input[type="checkbox"]:checked + label {
    background: url("images/ico_ckeck_on.png") no-repeat 1px center;
  }
  body #wrap main .check-btn .check label {
    padding-left: 35px;
    line-height: 45px;
  }
  body #wrap main .check-btn .off-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 14px;
  }
  body #wrap main .check-btn .off-btn input[type="checkbox"] {
    position: absolute;
    left: -3000%;
  }
  body #wrap main .check-btn .off-btn input[type="checkbox"] + label {
    cursor: pointer;
    background: url("images/text_on.png") no-repeat 50px center;
  }
  body #wrap main .check-btn .off-btn input[type="checkbox"]:checked + label {
    background: url("images/text_off.png") no-repeat 50px center;
  }
  body #wrap main .check-btn .off-btn label {
    padding-right: 40px;
  }
  body #wrap main .Simple-Login {
    width: 95%;
    margin: 38px auto 30px auto;
    text-align: center;
  }
  body #wrap main .Simple-Login h2 {
    font-size: 22px;
    margin-bottom: 20px;
  }
  body #wrap main .Simple-Login div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  body #wrap main .Simple-Login div:nth-child(2) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  body #wrap main .Simple-Login div:nth-child(2) div {
    width: 49%;
    height: 55px;
    background-color: #fff;
    border: 1px solid #03c75a;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    cursor: pointer;
  }
  body #wrap main .Simple-Login div:nth-child(2) div img {
    width: 22px;
    height: 22px;
  }
  body #wrap main .Simple-Login div:nth-child(2) div p {
    margin-left: 10px;
    font-size: 15px;
    font-weight: bold;
  }
  body #wrap main .Simple-Login div.find {
    line-height: 50px;
    font-size: 14px;
    color: #8e8e8e;
  }
  body #wrap main .Simple-Login div.find a {
    margin-right: 20px;
    position: relative;
    color: #8e8e8e;
  }
  body #wrap main .Simple-Login div.find a:not(:last-child)::before {
    content: '';
    width: 1px;
    height: 10px;
    position: absolute;
    background-color: #e4e4e5;
    top: 20px;
    right: -10px;
  }
  body #wrap main .banner {
    width: 95%;
    margin: 0 auto;
    background-color: #f0fffd;
    margin-bottom: 120px;
    text-align: center;
  }
  body #wrap main .banner img {
    width: 100%;
  }
  body #wrap footer {
    display: none;
  }
}
/*# sourceMappingURL=main.css.map */
